%h1 Edytuj zespół #{@group.name}

= form_for [@group, @team] do |f|
  = render :partial => "teams/form", :locals => { :f => f }
  %div{ :style => 'margin-top: 20px' }
    = f.submit 'Aktualizuj zespół'

%p
  = link_to raw("&laquo; Wróć"), @group