<h2>Edytuj dane</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :first_name, 'Imię' %><br />
  <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name, 'Nazwisko' %><br />
  <%= f.text_field :last_name %></p>

  <p><%= f.label :email, 'E-mail' %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password, 'Hasło' %>
    <br/>
    <i>pozostaw puste jesli nie zmieniasz hasła</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, 'Powtórz hasło' %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :photo, 'Zdjęcie' %><br/>
  <%= f.file_field :photo %></p>

  <p><%= f.submit "Aktualizuj" %></p>
<% end %>
