%h1= @group.name
%h3 Prowadzący #{@group.teacher.name}

.main
  = form_for [@group, @post], :as => :post, :html => { :method => :post, :multipart => true } do |f|
    = render :partial => 'posts/form', :object => f
  .posts
    - @group.posts.all.each do |post|
      .post{ :id => "post-#{post.id}" }
        .photo
          = image_tag post.author.photo.thumb.url if post.author.present?
        .content
          .author
            = post.author.try(:name)
          .body
            = auto_link(post.content, :html => { :target => '_blank' })
          - unless post.attachments.empty?
            %hr
            .attachments
              - post.attachments.all.each do |attachment|
                .attachment
                  %strong= File.basename(attachment.file.current_path)
                  = attachment.content_type
                  = number_to_human_size attachment.size
                  = link_to 'Pobierz', [@group, post, attachment]
          .timestamps
            = l post.created_at, :format => :short
            = link_to 'Usuń', [@group, post], :method => :delete, :confirm => "Czy na pewno usunąć?"
      .clear
.sidebar
  Zapisani użytkownicy
  .users
    - @group.users.all.each do |user|
      .user{ :id => "user-#{user.id}" }
        = image_tag user.photo.thumb.url, :width => '32px', :height => '32px', :title => user.name
