= link_to_add_attachment "Dodaj plik" do
  .attachment
    = form.fields_for :attachments, Attachment.new, :child_index => 'replace_it' do |fields|
      = fields.file_field :file
      = fields.hidden_field :file_cache
      = link_to_function "Usuń", %{ $(this).parent().remove() }
#attachments
  - form.object.attachments.each do |attachment|
    .attachment
      = form.fields_for :attachments, attachment do |fields|
        %strong
          = File.basename(attachment.file.current_path)
        = attachment.content_type
        = number_to_human_size attachment.size
        = link_to 'Usuń', [@group, @post, attachment], :method => :delete, :confirm => "Czy na pewno chcesz usunąć?"