!!!
%html
  %head
    %title StackApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #header
        #links
          - if user_signed_in?
            = link_to 'Kokpit', dashboard_path
            &middot;
            = link_to 'Mój profil', current_user
            &middot;
            = link_to 'Edytuj', edit_user_registration_path
            &middot;
            = link_to 'Wyloguj', destroy_user_session_path
          - else
            = link_to 'Strona główna', root_path
            &middot;
            = link_to 'Zaloguj się', new_user_session_path
            &middot;
            = link_to 'Zarejestruj się', new_user_registration_path
      #content
        = yield
    #footer
